/bootstrap/compiled.php
.env.*.php
.env.php
.env
vendor/
storage/app
storage/excel/exports/*
storage/excel/exports/posmember/
storage/excel/import
storage/logs
public/web.config
public/Microsoft
.phpintel/
composer.lock
/bin
/config/slack.php
app/excel